.navbrContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.searchContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.mr-sm-4 {
	min-width: 500px !important;
}
