.navbrContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.searchContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.mr-sm-4 {
	min-width: 500px !important;
}

.search-list {
	margin: 10px 10px 10px 10px;
	width: 400px;
}

.big-container {
	display: flex;
	flex-direction: row;
}

.text-center {
	align-items: center;
	width: 100%;
	margin: 10px 10px 10px 10px;
}
